[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"

[packages]
jira = "*"
pm4py = "*"
xes = {editable = true,git = "https://github.com/spriadka/xes.git",ref = "python3"}
python-dateutil = "*"

[requires]
python_version = "3.8"
